/*跑马灯组件样式*/
$height: 6rem;
$firstValue: 100%;
$secondValue: -100%;
.frc-Marquee-marquee {
    position: relative;
    height: $height;
    width: 100%;
    overflow: hidden;
    .frc-Marquee-marquee-item {
        position: absolute;
        display: block;
        width: 100%;
        height: $height;   
        overflow: hidden;
        font-size: .8rem;
        color: #f00;
        text-align: center;
        -webkit-animation: marquee 4s linear infinite;
        -moz-animation: marquee 4s linear infinite;
        -ms-animation: marquee 4s linear infinite;
        -o-animation: marquee 4s linear infinite;
        animation: marquee 4s linear infinite;
        
        li {
            padding: .3rem;
            list-style: none;
        }
    }
}
@-webkit-keyframes marquee {
    0% { 
        top: $firstValue; 
    }
    100% {
            top: $secondValue; 
    }
}
@-moz-keyframes marquee {
    0% { 
        top: $firstValue; 
    }
    100% { 
        top: $secondValue; 
    }
}
@-ms-keyframes marquee {
    0% { 
        top: $firstValue; 
    }
    100% { 
        top: $secondValue; 
    }
}
@-o-keyframes marquee {
    0% { 
        top: $firstValue; 
    }
    100% { 
        top: $secondValue; 
    }
}
@keyframes marquee {
    0% { 
        top: $firstValue;
    }
    100% { 
        top: $secondValue;
    }
}
