.dialogForBaiduMap_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.40);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  .content_container{
    background-color: white;
    border-radius: 12px;

    .close_btn{
      width:100%;
      height: 1.47rem;
      position: relative;

      .c_img {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 1.47rem;
        width: 1.395rem;
        background-size: 100% 100%;
      }
    }

    .message_twoBtn_title_nodesc{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1.95rem;
      padding-left: 1.05rem;
      padding-right: 1.05rem;

      .title {
        margin-top: 1.05rem;
        font-size: 0.85rem;
        display: inline-block;
        width:100%;
        text-align: center;
        line-height: 1rem;
        color:#000000;
      }

      .desc{
        color:#999999;
        font-size:0.7rem;
        margin-top: 0.55rem;
      }
      .btn1 {
        margin-top: 2.425rem;
        width:7.85rem;
        height:1.6rem;
        background-color: #4580fa;
        border: 0;
        border-radius: 25px;
        font-size:0.7rem;
        line-height: 1.6rem;
      }

      .btn2 {
        margin-top: 0.75rem;
        width:7.85rem;
        height:1.6rem;
        background-color: transparent;
        border: 1px solid #4580fa;
        border-radius: 25px;
        font-size:0.7rem;
        line-height: 1.6rem;
        color:#4580fa;
      }
    }

    .message_oneBtn_title{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1.5rem;
      padding-left: 2.3rem;
      padding-right: 2.3rem;

      .title {
        color: #333;
        font-size: 0.8rem;
        display: inline-block;
        width: 100%;
        text-align: center;
      }

      .desc{
        color:#999999;
        font-size:0.7rem;
        margin-top: 0.55rem;
        line-height: 1rem;
        text-align: center;
      }
      .btn1 {
        margin-top: 0.825rem;
        width: 7.15rem;
        height: 1.6rem;
        background-color: #3385ff;
        border: 0;
        border-radius: 48px;
        font-size: 0.8rem;
        color: #ffffff;
        line-height: 1.6rem;
        box-shadow: 0 6px 20px 0 rgba(51,133,255,0.50);
        font-weight: initial;
      }

    }
  }

}