$topnewsHeight: 2.4rem;
$textHeight: 1.2rem;
$textFontSize: .7rem;
$textColor: #4A4A4A;
$textWidth: 11.9rem;

.marqueeConcainer {
  height: $textHeight;
  overflow: hidden;
  background-color: white;
  flex: 1;

  .news_item_container {
    transform: translate3d(0, 0, 0);
  }
  .winner_news_item {
    width: 100%;
    height: $textHeight;
    line-height: $textHeight;
    font-size: 0.7rem;
    color: black;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .text1 {
      color: #666666;
    }
  }
}