.frc_panel_container {
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  width: 96%;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(176, 176, 176, 0.3);

  .frc_panel_title {
    box-sizing: border-box;
    min-height: 2rem;
    padding: .6rem;
    border-bottom: 1px solid #e9e9e9;
    h3 {
      font-size: .8rem;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
    }
  }

  .frc_panel_content {
    box-sizing: border-box;
    min-height: 5rem;
    padding: 1rem 5px;
  }
}
