	
	.maskName{
		position:fixed;
		width: 100%;
		height: 100%;
		left:0;
		top:0;/*FF IE7*/
		background: gray; 
		filter:alpha(opacity=50);/*IE*/
		opacity:0.8;/*FF*/
		z-index:1001;

	}	
	
	.alertName{
		position:fixed;
		z-index:1002;
		width:14rem;
		min-height:6rem;
		left:50%;
		top:30%;
		margin-left: -7rem;
		border:1px solid #ccc;
		border-radius: .5rem;
		overflow: hidden;
		background-color:#fff;
	}
	.close-banner{
			margin-right: 1rem;
			margin-top: .8rem;
			float:right;
	}
  		
  	.description{
			margin-top: 1.8rem;
			margin-left: 1rem;
			margin-right: 1rem;
			margin-bottom: 1rem;
			line-height: 1.2rem;
			text-align: center;

	}
	.title{
		font-size: 1.1rem;
	}
	
	.content{
		    text-align: center;
			margin-top: 0.4rem;
	}
	.alertfooterName{
		box-sizing: border-box;
		background-color: #fff;

		.alert-oneBtn{
			margin-left: 5rem;
			margin-bottom: .8rem;
			display:inline-block;
			width:auto;
			height:1.8rem;
			color:#000;
			border-color: #ccc;

		}
		.alert-twoBtn{
			display:inline-block;
			width:50%;
			height:2.4rem;
			color:#000;
			border-radius: 0px;
			border-color: #ccc;
			background-color: #fff;
		}
		.leftBtn{
			border-width: 1px 1px 0 0;
		}
		.rightBtn{
			border-width: 1px 0 0 0;
		}

	}
    .frc-alertVisiable{
		display:block;
	}
	.frc-alertInvisiable{
		display: none;
	}
	