@import "reset";

$btnPress_bgColor:#c3362a;
$btnPress_color:rgba(255, 255, 255, 0.4);


html {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

body, #container {
  height: 100%;
  width: 100%;
  font-family: 'PingFangSC-Regular';
  font-size: 0.9em;
  color: #333333;
  background-color: #F2F4F5;
}

html,body {
  height: 100%;
  -webkit-overflow-scrolling: touch;

}

::-webkit-scrollbar {display:none}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div[data-reactroot] {
  width:100%;
  height:100%;
}

.transitionHeight {
  height: 100%;
  width: 100%;
}


.clearfix {
  *zoom:1;
}
.clearfix:after {
  display: block;
  height: 0;
  content: ".";
  visibility: hidden;
  clear: both
}

.dis-box {
  display: flex;
}
.box-horizontal {
  flex-direction: row;
}
.box-vertical {
  flex-direction: column;
}
.flex {
  flex:1
}
.pack-center {
  justify-content: center;

}
.align-center {
  align-items: center;
}

.mglr {
  margin: 0 0.75rem;
}