.frc_timer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #000;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  .frc_colon {
    margin: 0 .05rem;
    color: #000;
    font-size: 1rem;
  }
  .frc_day{
    width:100%;
    .frc_hour{
      width: 65%;
    }
  }

  .frc_hour, .frc_minute, .frc_second {
    display: inline-block;
    width: 100%;

  }
}