.timer {
  display: flex;
  align-items: center;

  .colon {
    margin: 0 .05rem;
    color: #000;
    font-size: 1rem;
  }

  .hour, .minute, .second {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #000;
    height: 1rem;
    line-height: 1rem;
    font-size: 1.2rem;

  }
}