.timer {
  display: flex;
  align-items: center;

  .clock_icon {
    width: 1.1rem;
    height: 1.1rem;
    background-position: center;
    background-size: contain;
    margin-right: 0.5rem;
  }

  .colon {
    margin: 0 3px;
    font-weight: bold;
    color: #9E9E9E;
  }

  .hour, .minute, .second {
    display: inline-block;
    width: 1.1rem;
    text-align: center;
    color: #ffffff;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.7rem;
    background-image: url("./Img/bg_icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}