.frc_toast_container{
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 2.5rem;
  justify-content: center;
  z-index: 99;
}


.frc_tost{
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  opacity: 0;
  transition: opacity .5s linear;
  font-size: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  max-width:16rem;
  word-wrap:break-word;
}
.frc_tost_fadein {
  opacity: 0.7;
}

.frc_tost_fadeout {
  opacity: 0;
}
