div.frc_tost{
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  bottom: 2.5rem;
  opacity: 0;
  transition: opacity .5s linear;
  font-size: 0.7rem;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  max-width:16rem;
  word-wrap:break-word
}

div.frc_tost_fadein {
  opacity: 0.7;
}

div.frc_tost_fadeout {
  opacity: 0;
}
