.drawerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  visibility: hidden;
  .maskPanel {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.50);
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  .showMask {
    opacity: 1;
    visibility: visible;
  }

  .showPanel {
    transform: translateX(0) !important;
  }

  .hidePanel {
    transform: translateX(100%)
  }

  .contentPanel {
    z-index: 21;
    height: 100%;
    width: 14.05rem;
    background: #FFFFFF;
    padding-left: 0.4rem;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    will-change: transform;
  }

  .contentPanel_left {
    left: 0 !important;
  }
}

.drawerContainer_show {
  visibility: visible;
}