.operation-maskName {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; /*FF IE7*/
  background: gray;
  //filter: alpha(opacity=50); /*IE*/
  opacity: 0.8; /*FF*/
  z-index: 1001;

}

.operation-alertName {
  position: fixed;
  z-index: 1002;
  background: transparent;
  width: 200px;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.operationAlert-close-banner {
  position: absolute;
  right: -1.4rem;
  top: -1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  background-repeat: no-repeat;
  background-image: url('./Img/close.png');
}

.operation-alert-img {
  display: block;
  width: 100%;
  height: 100%;
}
  	