.frc_scrollView_wrapper{
    position: relative;
    -webkit-overflow-scrolling:touch;
    height: 100%;
    width: 100%;
    //overflow: hidden;
    transform: translate3d(0,0,0);
    top: 0;
    .pullDownLoading {
        margin-top: -2.45rem;
        width: 100vw;
        height: 2.45rem;
        text-align: center;
        line-height: 2.45rem;
        font-size: 0.725rem;
        color: #999;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 0.8rem;
            &.check {
                width: 0.8rem;
                background-image: url(./Img/check.png);
                margin-right: 0.5rem;
            }
            &.refresh {
                width: 0.8rem;
                background-image: url(./Img/refresh.png);
                animation: refresh 1s infinite linear;
            }
            &.arrow-down {
                width: 0.45rem;
                background-image: url(./Img/arrow-down.png);
                margin-right: 0.5rem;
            }
            &.arrow-up {
                width: 0.45em;
                background-image: url(./Img/arrow-down.png);
                margin-right: 0.5rem;
                animation: rotate 0.2s linear;
                animation-fill-mode: forwards;
            }
            @keyframes rotate {
                from {
                    transform: rotate(0);
                }
                to {
                    transform: rotate(180deg);
                }
            }
            @keyframes refresh {
                from {
                    transform: rotate(0);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

.frc_scrollView_scroller{

}

::-webkit-scrollbar {
    width: 0px;
}

.iScrollIndicator{
    background:rgba(0,0,0,0.3) !important;
    border:1px solid rgba(255,255,255,0.9) !important;
    border-radius:3px !important;

}

.iScrollVerticalScrollbar{
    width: 4px !important;
    transition-duration: 400ms !important;
}